body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.Home-NavBar {
    width: 100%;
    height: 4rem;
    background: #44449b;
    display: flex;
    justify-content: start;
    align-items: center;
}

.Home-NavBar-logo {
    width: 50%;
    margin-left: 1rem;
    color: white;
}

.Home-NavBar-logo > a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 2px 0 0 #1181B2, -2px 0 0 #1181B2, 0 2px 0 #1181B2, 0 -2px 0 #1181B2, 1px 1px #1181B2, -1px -1px 0 #1181B2, 1px -1px 0 #1181B2, -1px 1px 0 #1181B2;
}

.Home-NavBar-logo-letter {
    color: #1181B2;
}

.Home-NavBar-login {
    width: 50%;
    text-align: end;
}

.Home-NavBar-login > a {
    color: #DDEDF4;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-primary {
    background: #44449b !important;
}

.btn-secondary {
    background: #1181B2 !important;
}

.action-btns {
    width: 50%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.hide {
    display: none;
}

.new-item-form,
.new-ticket-form {
    margin-bottom: 1.5rem;
}

.product-img {
    height: 10%;
}